include ./svg-mixins

.conviniences
  .conviniences__wrapper
    .section__title.section__title--white
      | Почему с нами удобно

    .conviniences__items
      .conviniences__item
        +ic_1
        h3.conviniences__item-title
          | Отдых на любой вкус

        p.conviniences__item-text
          | Подберем максимально соответствующий вашим запросам отдых: бюджетный или роскошный, у моря или в историческом центре? Или нужно нечто эксклюзивное? Легко!

      .conviniences__item
        +ic_2
        h3.conviniences__item-title
          | Поддержка клиентов 24/7

        p.conviniences__item-text
          | Наш менеджер никогда не отключает Telegram, прописался в Facebook и проверяет почту каждые 5 минут. Хотите общения голосом? С удовольствием перезвонит, а днем он живет в офисе и угощает всех кофе!

      .conviniences__item
        +ic_3
        h3.conviniences__item-title
          | Гарантируем лучшие цены

        p.conviniences__item-text
          | Мы работаем по единой партнерской программе с 67 туроператорами Украины. Нет смысла продавать вам дороже — нам важно, чтобы вы остались довольны отдыхом и советовали нас друзьям!
