include ./svg-mixins

footer.footer
  .footer__wrapper
    .footer__main
      .footer__tel-wrapper
        .footer__tel-numbers
          a.footer__tel(href="tel:+380443320258")
            | +38 (044) 332-02-58

          button.footer__tel-toggle(type="button")

          .footer__tel-other
            a.footer__tel(href="tel:+380443320258")
              | +38 (044) 332-02-58

            a.footer__tel(href="tel:+380443320258")
              | +38 (044) 332-02-58

            a.footer__tel(href="tel:+380443320258")
              | +38 (044) 332-02-58

      .footer__socials
        a.footer__socials-item.footer__socials-item--fb(href="")
          +fb_logo

        a.footer__socials-item.footer__socials-item--tw(href="")
          +in_logo

    p.footer__under-text
      | © 2018. «VinvoTravel» — Отпуск без границ. Вся информация, размещенная на сайте, носит информационный характер и не является рекламой и публичной офертой.
