include ./svg-mixins

footer.footer
  .footer__wrapper
    .footer__main
      .footer__tel-wrapper
        .footer__tel-numbers
          a.footer__tel.footer__tel--main(href="tel:+380443320267")
            | +38 (044) 332-02-67

          button.footer__tel-toggle(type="button")

          .footer__tel-other
            a.footer__tel.footer__tel--ky(href="tel:+380965993523")
              | +38 (096) 599-35-23

            a.footer__tel.footer__tel--vo(href="tel:+380956100750")
              | +38 (095) 610-07-50

            a.footer__tel.footer__tel--lc(href="tel:+380630756705")
              | +38 (063) 075-67-05

      .footer__socials
        a.footer__socials-item.footer__socials-item--fb(href="")
          +fb_logo

        a.footer__socials-item.footer__socials-item--tw(href="")
          +in_logo

        a.footer__socials-item.footer__socials-item--tg(href="")
          +tg_logo

    p.footer__under-text
      | © 2018. «VinvoTravel» — Отпуск без границ. Вся информация, размещенная на сайте, носит информационный характер и не является рекламой и публичной офертой.
