include ./svg-mixins

.header
  .header__wrapper
    .header__top
      a.header__main-logo(href="https://vinvotravel.com/")
        img.header__main-logo-img(src="images/svg/logo.svg")

      .header__user-block-wrapper
        button.header__user-block-toggle(type="button")
        .header__user-block
          button.header__user-block-close(type="button")
          .header__tel-numbers

            a.header__tel-btn.header__tel-btn--main(href="tel:+380443320258")
              | +38 (044) 332-02-58

            button.header__tel-toggle(type="button")

            .header__tel-other
              a.header__tel-btn.header__tel-btn--ky(href="tel:+380965993523")
                | +38 (096) 599-35-23

              a.header__tel-btn.header__tel-btn--vo(href="tel:+380956100750")
                | +38 (095) 610-07-50

              a.header__tel-btn.header__tel-btn--lc(href="tel:+380630756705")
                | +38 (063) 075-67-05

          button.header__callback-btn(type="button")
            | Перезвоните мне

    .header__main
      h1.header__title
        | Кажется, Вам давно пора в отпуск

      p.header__main-text
        | Хватит работать, вы заслужили отдых — оставьте заявку прямо сейчас  и получите тур по горячей цене!

      form.header__callback-form(action="", method="POST")
        input.header__callback-form-tel(type="tel", name="tel", placeholder="+38(__)___-__-__", pattern="+[0-9]{2}([0-9]{3})[0-9]{3}-[0-9]d{2}-[0-9]{2}" required)
        button.header__callback-form-btn(type="submit", data-sm="booking", data-type="undefined-type")
          | Подобрать тур

    .header__partners
      img.header__partners-img(src="images/logo/join_up.png", srcset="images/logo/join_up@2x.png 2x")
      img.header__partners-img(src="images/logo/anex_tour.png", srcset="images/logo/anex_tour@2x.png 2x")
      img.header__partners-img(src="images/logo/pegas.png", srcset="images/logo/pegas@2x.png 2x")
      img.header__partners-img(src="images/logo/coral_travel.png", srcset="images/logo/coral_travel@2x.png 2x")
      img.header__partners-img(src="images/logo/tez_tour.png", srcset="images/logo/tez_tour@2x.png 2x")
      img.header__partners-img(src="images/logo/mouzenidis.png", srcset="images/logo/mouzenidis@2x.png 2x")
