include ./svg-mixins

.testimonials
  .testimonials__wrapper
    h2.section__title
      | Что говорят наши клиенты?

    .testimonials__list-wrapper
      button.testimonials__list-controls.testimonials__list-controls--left.testimonials__list-controls--inactive(type="button")
        +controls

      button.testimonials__list-controls.testimonials__list-controls--right(type="button")
        +controls

      .testimonials__slides-list-wrapper
        ul.testimonials__slides-list
          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/olesya.png", srcset="images/photo/olesya@2x.png 2x")

              p.testimonials__list-author-name
                | Олеся

              p.testimonials__list-author-text
                | Отдыхали на Родосе, Греция

            p.testimonials__list-text
              | Хочу поблагодарить за помощь и великолепный отдых! Впервые за долгое время собрались заграницу. Планировали отпраздновать с мужем годовщину свадьбы в тихом, живописном месте. Опасались, что цены кусаются, а в самый бюджетный отель ехать не хотелось… Рассказали ситуацию Анастасии, попросили тур по приемлемой цене. Хотя лето — разгар сезона, смогли подобрать подходящий вариант. Мы с удовольствием открыли для себя Грецию, пляжи и природа просто фантастические. В следующем году планируем вернуться туда с детьми.

          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/anna1.png", srcset="images/photo/anna1@2x.png 2x")

              p.testimonials__list-author-name
                | Анна

              p.testimonials__list-author-text
                | Отдыхали в Мармарисе, Турция

            p.testimonials__list-text
              | Спасибо огромное! Посоветуем вашу фирму друзьям и знакомым! Хотели отдохнуть всей семьей, но не могли найти подходящий отель и для малышей, и для взрослых. Написали менеджеру VinvoTrevel, рассказали пожелания, возраст детей. И вот мы уже на море! Девочки 6 и 9 лет в восторге от анимации, мы с мужем наслаждаемся солнцем и морем.

          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/olga.png", srcset="images/photo/olga@2x.png 2x")

              p.testimonials__list-author-name
                | Ольга

              p.testimonials__list-author-text
                | Отдыхали в Кемере, Турция

            p.testimonials__list-text
              | Собирались с парнем отдохнуть по системе «все включено». Выбирали отель без детей, чтоб не было шума и криков. Не знали куда лучше — в Турцию, или в Египет. Менеджер Галина нашла наш идеальный отель для романтического отдыха. В результате отлично отдохнули в Кемере. Будем рекомендовать вас друзьям и следующим летом опять обратимся! 

          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/bogdan.png", srcset="images/photo/bogdan@2x.png 2x")

              p.testimonials__list-author-name
                | Богдан

              p.testimonials__list-author-text
                | Отдыхали в Коста Браве, Испания

            p.testimonials__list-text
              | Спасибо вашей команде за позитивные эмоции и по-настоящему беззаботный отпуск. Обычно путешествую один, бронирую отдельно отели или хостелы + перелет. В турфирмы раньше не обращался. Но сейчас готовил сюрприз для девушки, хотел чтоб отдых прошел безупречно. Случайно попал на сайт VinvoTrаvel, прикинул варианты. Тут поиск простой и удобный, выбор туров достаточный, еще и с вылетом из разных городов Украины. Менеджер Антон рассказал как оплатить и помог подготовить документы. Мы провели незабываемую неделю в Испании, мечтаем вернуться туда еще. 

          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/svetlana.png", srcset="images/photo/svetlana@2x.png 2x")

              p.testimonials__list-author-name
                | Светлана

              p.testimonials__list-author-text
                | Отдыхали в Пафосе, Кипр

            p.testimonials__list-text
              | Сразу скажу огромное спасибо Александре! Очень профессионально, чутко отнеслась к нашим пожеланиям. Ехали отдыхать с малюткой 1,5 года, нужно было учесть столько нюансов, еще и сроки сжатые, так как у мужа даты отпуска нельзя поменять. Сначала не были уверенны, что это хорошая затея, но сейчас ни чуточку не жалеем. Перелет перенесли нормально, в отеле нас встретили тепло, предоставили все необходимое. Саша была на связи все время, отвечала на вопросы, помогала советом. Мы поняли, что Кипр идеален для отдыха с малышами. Море теплое и чистое, песочек мягкий. Советуем всем для семейного отпуска!

          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/sergey.png", srcset="images/photo/sergey@2x.png 2x")

              p.testimonials__list-author-name
                | Сергей

              p.testimonials__list-author-text
                | Отдыхали в Анталии, Турция

            p.testimonials__list-text
              | У нас с братом была авантюрная идея, хотели сделать родителям подарок на серебряную свадьбу. Они давно не путешествовали, за границей вообще раньше не были. Мы присмотрели несколько туров в Турцию, подумали, с менеджером посоветовались. Галина помогла определиться с отелем, оформила документы. Сейчас мама с папой наслаждаются чудесным побережьем, а мы смотрим на их фото и не можем нарадоваться, что все прошло как по маслу. Персонал отеля понимает русский язык, они чувствуют себя отлично, даже успели с кем-то познакомиться. Когда соберусь в отпуск, первым делом обращусь в вашу компанию. Спасибо!

          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/natalia.png", srcset="images/photo/natalia@2x.png 2x")

              p.testimonials__list-author-name
                | Наталья

              p.testimonials__list-author-text
                | Отдыхали на Майорке, Испания

            p.testimonials__list-text
              | Захотелось с подругой рвануть куда-то по горящей путевке (неожиданно освободилась неделька в конце сезона). Времени на выбор курорта не было, а на море нам очень хотелось. Ребята из Vinvo помогли быстро найти отличный вариант. Мы сэкономили и мечту о путешествии осуществили! Спасибо за оперативность и профессионализм!

          li.testimonials__list-item
            .testimonials__list-author
              .testimonials__list-author-img-wrapper
                img.testimonials__list-author-img(src="images/photo/natalia&dmitriy.png", srcset="images/photo/natalia&dmitriy@2x.png 2x")

              p.testimonials__list-author-name
                | Наталья и Дмитрий

              p.testimonials__list-author-text
                | Отдыхали в Шарм-Эль-Шейхе, Египет

            p.testimonials__list-text
              | Мы провели замечательный отпуск, потратив на подготовку минимум времени и сил! Спасибо, VinvoTravel! Наша семья очень дружная, путешествовать любим, побывали уже в 10 странах. Мы неприхотливые туристы, но ценим качественный сервис и профессиональный подход к работе. Именно этим удивили сотрудники VinvoTravel! Давно не было такого приятного общения с менеджером, да и сайт для подбора туров удобный. Мы знаем, чего хотим, поэтому быстро нашли отличный отель в Испании.

    .testimonials__pointers
      .testimonials__pointers-item(data-id='0')
      .testimonials__pointers-item(data-id='1')
      .testimonials__pointers-item(data-id='2')
      .testimonials__pointers-item(data-id='3')
      .testimonials__pointers-item(data-id='4')
      .testimonials__pointers-item(data-id='5')
      .testimonials__pointers-item(data-id='6')
      .testimonials__pointers-item(data-id='7')