-
  var bestPrice = {
    blockName: "best-price",
    title: "Надоело искать тур и сохранять десятки закладок для сравнения?",
    text: "Мы сделаем все за вас: сравним, проверим и найдем самые вкусные предложения по горячей цене!",
    button: "white",
    btnText: "Хочу лучшую цену",
    withImage: true,
    img: 'girl'
  }
  var budgetPrice =   {
    blockName: "budget-price",
    title: "Путешествовать можно экономно. Не верите?",
    text: "Мы занимаемся путешествиями 6 лет, знаем, как вписаться в бюджет и классно отдохнуть. Обращайтесь — поделимся секретами!",
    button: "default",
    btnText: "Подобрать выгодный тур",
    withImage: false
  }
