-
  var countries = [
    {
      name: "Болгария",
      btnName: "в Болгарию",
      src: "bulgaria",
      price: 3616
    },
    {
      name: "Египет",
      btnName: "в Египет",
      src: "egypt",
      price: 7076
    },
    {
      name: "Турция",
      btnName: "в Турцию",
      src: "turkey",
      price: 5481
    },
    {
      name: "Греция",
      btnName: "в Грецию",
      src: "greece",
      price: 8448
    },
    {
      name: "ОАЭ",
      btnName: "в ОАЭ",
      src: "uae",
      price: 10958
    },
    {
      name: "ГОА",
      btnName: "на ГОА",
      src: "goa",
      price: 16312
    },
    {
      name: "Кипр",
      btnName: "на Кипр",
      src: "cyprus",
      price: 8512
    },
    {
      name: "Шри-Ланка",
      btnName: "на Шри-Ланку",
      src: "sri_lanka",
      price: 16911
    },
    {
      name: "Албания",
      btnName: "в Албанию",
      src: "albania",
      price: 4571
    }
  ]