.budget-price
  position relative
  background-image: url(images/photo/budget_bg.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
  background-position 100% 100%, center
  background-size cover, cover

  @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
    background-image: url(images/photo/budget_bg@2x.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
    background-position 100% 100%, center
    background-size cover, cover

  +respond-to($medium)
    background-image: url(images/photo/budget_bg_768.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
    background-position 100% 100%, center
    background-size cover, cover

    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background-image: url(images/photo/budget_bg_768@2x.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
      background-position 100% 100%, center
      background-size cover, cover


  +respond-to($small)
    background-image: url(images/photo/budget_bg_768.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
    background-position 100% 100%, center
    background-size cover, cover

    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background-image: url(images/photo/budget_bg_768@2x.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
      background-position 100% 100%, center
      background-size cover, cover


  +respond-to($xsmall)
    background-image: url(images/photo/budget_bg_320.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
    background-position 100% 100%, center
    background-size cover, cover

    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background-image: url(images/photo/budget_bg_320@2x.png), linear-gradient(27.71deg, #A643B0 0%, #FF539F 100%)
      background-position 100% 100%, center
      background-size cover, cover

.budget-price__wrapper
  @extend .container
  padding 78px 450px 64px 0

  +respond-to($small)
    padding 64px 250px 64px 0

  +respond-to($xsmall)
    padding 32px 0 96px 0
    .section__title
      text-align center

.budget-price__title
  font-weight: 600
  line-height: 52px
  font-size: 36px
  color: #fff
  text-align left

.budget-price__text
  line-height: 30px
  font-size: 20px
  color: #fff
  font-weight 300
  text-align left
  margin 25px 0 45px 0

  +respond-to($small)
    margin 16px 0 24px 0

  +respond-to($xsmall)
    text-align center

.budget-price__button
  @extend .button-white
