.footer
  background #17191A
  padding 36px 0 32px 0

.footer__wrapper
  @extend .container

.footer__main
  margin-bottom 28px
  display flex
  flex-direction row
  justify-content space-between
  align-items center

  +respond-to($xsmall)
    align-items center
    margin-bottom 16px

.footer__tel
  position relative
  display inline-block
  font-weight: 700
  line-height: normal
  font-size: 20px
  line-height 24px
  color: #fff
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)
  padding-left 36px

  &:before
    content ''
    width 24px
    height 24px
    position absolute
    left 0
    top 0
    background url(images/icons/whats_app.svg) center no-repeat
    background-size cover

  +respond-to($xsmall)
    font-size 16px
    padding-left 24px
    &:before
      width 16px
      height 16px
      top 2px

.footer__tel--ky
  &:before
    background url(images/icons/ky_logo.svg) center no-repeat
    background-size cover

.footer__tel--vo
  &:before
    background url(images/icons/vo_logo.svg) center no-repeat
    background-size cover

.footer__tel--lc
  &:before
    background url(images/icons/lc_logo.svg) center no-repeat
    background-size cover

.footer__tel-toggle
  width 36px
  height 32px
  transition .15s
  background url(images/icons/ic_expand_white.svg) center no-repeat

  +respond-to($xsmall)
    width 26px

.footer__tel-numbers
  position relative
  display flex
  align-items center

.footer__tel-other
  display none
  flex-direction column
  position absolute
  top: 28px
  transform: translate(-16px, -115%)
  opacity 0
  transition .25s
  background: rgba(23,25,26, 0.95)
  padding-left 16px
  border-radius: 3px 3px 0 0
  width: calc(100% + 16px)
  box-sizing border-box
  left 0
  transition .35s

  +respond-to($xsmall)
    transform: translate(-16px, -113%)

  .footer__tel
    margin-bottom 24px
    &:first-child
      margin-top 24px

.footer__tel-numbers:hover
  +respond-from($small)
    .footer__tel-other
      display block
      opacity 1

    .footer__tel-toggle
      transform rotateX(180deg)

    .footer__tel--main
      &:before
        background url(images/icons/whatsapp_color_logo.svg) center no-repeat
        background-size cover

.footer__tel-numbers--active
  .footer__tel-other
    display block
    opacity 1

  .footer__tel-toggle
    transform rotateX(180deg)

  .footer__tel--main
    &:before
      background url(images/icons/whatsapp_color_logo.svg) center no-repeat
      background-size cover

.footer__under-text
  opacity .5
  color #fff
  font-size 12px
  line-height 16px
  font-weight 400
  text-align center

.footer__socials-item
  display inline-block
  width 32px
  height 32px
  margin-right 16px
  box-sizing border-box
  transition .25s
  border-radius 50%
  &:last-child
    margin-right 0

  &:hover
    opacity .7

svg
  border 1px solid transparent
  border-radius 50%
