.header
  position: relative
  background: url('images/header_pic.png') bottom no-repeat
  height: 694px
  box-sizing: border-box
  display: flex
  align-items: center
  flex-direction: column
  background-size cover
  padding 46px 0
  @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
    background: url('images/header_pic@2x.png') bottom no-repeat
    background-size: cover

  +respond-to($medium)
    background: url('images/header_pic.png') bottom no-repeat
    height: 694px
    background-size cover
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url('images/header_pic@2x.png') bottom no-repeat
      background-size: cover

  +respond-to($small)
    background: url('images/header_pic_768.png') bottom no-repeat
    height: 768px
    background-size cover
    padding 32px 0
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url('images/header_pic_768@2x.png') bottom no-repeat
      background-size: cover

  +respond-to($xsmall)
    background: url('images/header_pic_768.png') bottom no-repeat
    height: 512px
    background-size cover
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url('images/header_pic_768@2x.png') bottom no-repeat
      background-size: cover

  +respond-to($xxsmall)
    background: url('images/header_pic_320.png') bottom no-repeat
    height: 512px
    background-size cover
    box-sizing border-box
    padding 16px 0 32px 0
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url('images/header_pic_320@2x.png') bottom no-repeat
      background-size: cover

.header__wrapper
  @extend .container
  display flex
  flex-direction column
  height 100%

.header__main-logo-img
  +respond-to($small)
    width 190px

  +respond-to($xsmall)
    width 135px

.header__top
  display flex
  justify-content space-between
  align-items center

.header__user-block-wrapper--active
  .header__user-block
    +respond-to($xsmall)
      display block
      width calc(100% - 32px)
      left 50%
      top 0
      transform translate(-50%)
      background #17191a
      padding 16px
      padding-top 24px
      border-radius 0 0 6px 6px

  .header__tel-numbers
    +respond-to($xsmall)
      margin-bottom 24px

  .header__user-block-toggle
    display none

  .header__user-block-close
    display block
    position absolute
    width 32px
    height 32px
    right 10px
    top 10px

    &:before
      position: absolute
      left: 8px
      top: 15px
      content: ''
      height: 2px
      width: 18px
      background: #fff
      transform: rotate(45deg)
      box-shadow: none
      transition: transform .25s
      opacity: 1

    &:after
      position: absolute
      left: 8px
      top: 15px
      content: ''
      height: 2px
      width: 18px
      background: #fff
      transform: rotate(-45deg)
      box-shadow: none
      transition: transform .25s

.header__user-block-close
  display none
  +respond-to($xsmall)
    display block

.header__user-block
  display flex
  justify-content space-between
  align-items center

  +respond-to($xsmall)
    position absolute
    display none

.header__tel-numbers
  position relative
  margin-right 48px
  display flex
  align-items center

  +respond-to($small)
    margin-right 12px

  +respond-to($xsmall)
    max-width 70%
    display block
    overflow hidden
    padding 0
    padding-right 0

.header__tel-btn
  position relative
  font-weight: 700
  line-height: normal
  font-size: 20px
  line-height 24px
  color: #fff
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)
  padding-left 36px

  &:before
    content ''
    width 24px
    height 24px
    position absolute
    left 0
    top 0
    background url(images/icons/whats_app.svg) center no-repeat
    background-size cover

  +respond-to($xsmall)
    font-size 16px
    padding-left 24px
    &:before
      width 16px
      height 16px
      top 2px

.header__tel-btn--ky
  &:before
    background url(images/icons/ky_logo.svg) center no-repeat
    background-size cover

.header__tel-btn--vo
  &:before
    background url(images/icons/vo_logo.svg) center no-repeat
    background-size cover

.header__tel-btn--lc
  &:before
    background url(images/icons/lc_logo.svg) center no-repeat
    background-size cover

.header__tel-toggle
  width 36px
  height 32px
  background url(images/icons/ic_expand_white.svg) center no-repeat

  +respond-to($xsmall)
    position relative
    top 10px

.header__tel-other
  display none
  flex-direction column
  position absolute
  opacity 0
  transition .25s
  max-height 0
  left 0

  +respond-to($xsmall)
    display flex
    position static

    &:last-child
      margin-bottom 0

.header__tel-numbers--active
  background #fff
  border-radius 6px 6px 0 0
  box-sizing border-box

  +respond-to($xsmall)
    background transparent
    border-radius 0
    padding 0

  .header__tel-other
    display flex
    opacity 1
    top 56px
    max-height 999px
    background #fff
    border-radius 0 0 6px 6px
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)

    +respond-to($xsmall)
      max-height 999px
      background transparent
      border-radius 0 0 6px 6px

  .header__tel-toggle
    background url(images/icons/expand_gray.svg) center no-repeat

  .header__tel-btn
    color #505C69
    padding-left 52px

    +respond-to($xsmall)
      padding-left 24px

    &:before
      content ''
      width 24px
      height 24px
      position absolute
      left 14px
      top 16px

      +respond-to($xsmall)
        width 16px
        height 16px
        left 0
        top 2px

    &:after
      content ''
      bottom -1px
      left 0
      position absolute
      width 100%
      height 1px
      background #C0C4D1

    +respond-to($xsmall)
      color #fff
      border-bottom none
      &:after
        display none

  .header__tel-btn--main
    padding-top 15px
    padding-bottom 16px

    +respond-to($xsmall)
      padding-top 0
      padding-bottom 0


    &:before
      background url(images/icons/whatsapp_color_logo.svg) center no-repeat
      background-size cover

    &:after
      width calc(100% + 36px)

  .header__tel-btn--lc
    padding-top 16px

    &:after
      display none

  .header__tel-btn:not(.header__tel-btn--main)
    padding-top 15px
    padding-bottom 16px
    padding-right 36px

    +respond-to($xsmall)
      padding-top 0
      padding-bottom 0
      padding-right 0
      margin-top 16px

  .header__tel-btn--ky
    +respond-to($xsmall)
      margin-top 16px

.header__callback-btn
  @extend .button-white
  padding-top 18px
  padding-bottom 18px

  +respond-to($small)
    padding 18px

.header__main
  margin-top 160px
  display flex
  flex-direction column
  align-items center

  +respond-to($small)
    margin-top 104px

  +respond-to($xsmall)
    margin-top 38px

.header__title
  font-weight: 700
  line-height: normal
  font-size: 52px
  text-align: center
  color: #FFFFFF
  text-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1)
  margin-top 14px
  width 100%
  box-sizing border-box

  +respond-to($small)
    margin-bottom 24px

  +respond-to($xsmall)
    margin-top 0
    font-size 32px
    line-height 44px
    margin-bottom 16px

.header__main-text
  font-weight: normal
  line-height: 31px
  font-size: 20px
  text-align: center
  color: #FFFFFF
  text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1)
  margin-bottom 32px
  width 70%

  +respond-to($small)
    width 100%

  +respond-to($xsmall)
    font-size 16px
    line-height 24px
    margin-bottom 16px

.header__callback-form
  display flex

  +respond-to($small)
    width 81%

  +respond-to($xsmall)
    width 100%
    flex-direction column
    margin-bottom 32px

.header__partners-img
  +respond-to($small)
    transform scale(.7)

  +respond-to($xsmall)
    &:nth-child(n+4)
      display none

  +respond-to($xxsmall)
    transform scale(1)
    width 27%
    height 31px
    &:nth-child(n+4)
      display none

.header__callback-form-tel
  @extend .input
  width 317px
  box-shadow: 0px 8px 16px rgba(21, 6, 26, 0.2)
  border-radius: 6px 0 0 6px

  +respond-to($xsmall)
    width 100%
    border-radius: 6px 6px 0 0
    box-sizing border-box
    padding 12px 16px

.header__callback-form-btn
  @extend .button
  border-radius: 0px 6px 6px 0px
  &:after
    border-radius: 0px 6px 6px 0px

  &:hover
    background: linear-gradient(23.59deg, #632774 7.28%, #CB4272 92.72%, #CB4272 92.72%)


  +respond-to($xsmall)
    border-radius: 0 0 6px 6px
    padding 14px 16px

.header__partners
  display flex
  margin-top auto
  justify-content space-between
  opacity .7

.header__user-block-toggle
  display none
  width 32px
  height 32px
  position: relative
  display: none
  background: none
  outline: none
  border:none
  padding: 0
  box-sizing: border-box
  cursor: pointer

  &:before
    content: ''
    position: absolute
    display: block
    top: 0
    left: 0
    background: #fff
    box-shadow: 0 6px #fff, 0 12px #fff
    height: 3px
    width: 16px
    border-radius: 20px
    opacity: 0

  &:after
    content: ''
    position: absolute
    display: block
    top: 8px
    left: 8px
    background: #fff
    box-shadow: 0 6px #fff, 0 12px #fff
    height: 3px
    width: 16px
    border-radius: 20px

  +respond-to($xsmall)
    display block
