.section__title
  font-weight: 600
  line-height: normal
  font-size: 36px
  text-align: center
  color: #19082B

  +respond-to($xsmall)
    font-size 30px
    line-height 42px

.section__title--white
  color #fff

.section__title--left
  text-align left
